.page-hero {
  height: 360px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }
.page-hero_sit {
  background-image: url(img/sit-bg.jpg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 9;
  position: relative; }
  .page-hero_sit .container-fluid {
    height: 100%; }
  .page-hero_sit .page-hero_container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .page-hero_sit h2 {
    font-size: 36px;
    color: #ffc000;
    font-weight: 700;
    margin: 0;
    width: 480px; }
    .page-hero_sit h2 p {
      margin-bottom: 10px;
      height: 70px;
      line-height: 70px;
      padding-left: 15px;
      background-color: rgba(51, 78, 52, 0.85); }
      .page-hero_sit h2 p:last-child {
        margin-bottom: 0; }
