.block-04 {
  background: url("img/block-04-bg.jpg") no-repeat left top;
  background-position: cover;
  padding: 75px 0;
  margin-top: -4px;
  background-size: cover; }

.info-block {
  background: #2d1e16;
  padding: 15px 20px;
  position: relative; }

.info-img {
  display: inline-block; }

.info-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  max-width: 65%; }

.info-text ul li {
  display: block;
  font-size: 18px; }

.info-text ul li:last-child {
  font-size: 12px;
  color: #eacda1; }

.info-button {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 30%; }

.info-btn {
  text-transform: none;
  font-size: 14px;
  width: 110px;
  line-height: 40px;
  border-radius: 20px; }

.info-btn:hover {
  text-decoration: none;
  color: #2d1e16;
  box-shadow: 0px 0px 16px 0px rgba(255, 192, 0, 0.75); }

.accept-btn {
  border-radius: 0;
  width: 170px; }

.last-info-block {
  margin-top: 45px; }
