.page-logo_line {
	background: #2d1e16;
	height: 80px;
	line-height: 80px;
	position: relative;
	z-index: 10;
	box-shadow: 0 2px 3px rgba(0,0,0,0.6);
	text-align: center;
	font-family: 'Bold';
	font-size: 18px;
}

.page-logo a {
	color: #fff;
}